<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>See the new car BMW</string>
		<key>logo</key>
		<string>cars</string>
		<key>description</key>
		<string></string>
		<key>typeNews</key>
		<integer>1</integer>
		<key>urlNews</key>
		<string>newBMW</string>
		<key>likes</key>
		<integer>10</integer>
		<key>views</key>
		<integer>30</integer>
		<key>comments</key>
		<integer>23</integer>
		<key>date</key>
		<date>2016-12-20T17:27:56Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>New movie create by Simpson.</string>
		<key>logo</key>
		<string>movie</string>
		<key>description</key>
		<string></string>
		<key>typeNews</key>
		<integer>1</integer>
		<key>urlNews</key>
		<string></string>
		<key>likes</key>
		<integer>32</integer>
		<key>views</key>
		<integer>5400</integer>
		<key>comments</key>
		<integer>213</integer>
		<key>date</key>
		<date>2016-12-18T06:27:56Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>The funny story</string>
		<key>logo</key>
		<string>movie</string>
		<key>description</key>
		<string></string>
		<key>typeNews</key>
		<integer>2</integer>
		<key>urlNews</key>
		<string>movieFunny</string>
		<key>likes</key>
		<integer>12</integer>
		<key>views</key>
		<integer>430</integer>
		<key>comments</key>
		<integer>32</integer>
		<key>date</key>
		<date>2016-12-15T02:27:56Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>Austin Powers in problems</string>
		<key>logo</key>
		<string></string>
		<key>description</key>
		<string>Austin Powers had a problems with the police. He was run in the street.</string>
		<key>typeNews</key>
		<integer>0</integer>
		<key>urlNews</key>
		<string></string>
		<key>likes</key>
		<integer>34</integer>
		<key>views</key>
		<integer>55</integer>
		<key>comments</key>
		<integer>1</integer>
		<key>date</key>
		<date>2016-12-10T22:27:56Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>AeroTravel</string>
		<key>logo</key>
		<string>AirImage</string>
		<key>description</key>
		<string></string>
		<key>typeNews</key>
		<integer>1</integer>
		<key>urlNews</key>
		<string>newAeroTravel</string>
		<key>likes</key>
		<integer>12</integer>
		<key>views</key>
		<integer>55</integer>
		<key>comments</key>
		<integer>34</integer>
		<key>date</key>
		<date>2016-12-10T22:27:56Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>New serie in Netflix</string>
		<key>logo</key>
		<string>netflix</string>
		<key>description</key>
		<string></string>
		<key>typeNews</key>
		<integer>1</integer>
		<key>urlNews</key>
		<string>newSeriePic</string>
		<key>likes</key>
		<integer>1</integer>
		<key>views</key>
		<integer>231</integer>
		<key>comments</key>
		<integer>13</integer>
		<key>date</key>
		<date>2016-12-05T22:27:56Z</date>
	</dict>
	<dict>
		<key>title</key>
		<string>New movie in Netflix</string>
		<key>logo</key>
		<string>netflix</string>
		<key>description</key>
		<string></string>
		<key>typeNews</key>
		<integer>2</integer>
		<key>urlNews</key>
		<string>newMovieNetflix</string>
		<key>likes</key>
		<integer>23</integer>
		<key>views</key>
		<integer>33333</integer>
		<key>comments</key>
		<integer>5445</integer>
		<key>date</key>
		<date>2016-12-02T22:27:56Z</date>
	</dict>
</array>
</plist>
