<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>DarkSide Emperors</string>
		<key>logo</key>
		<string>darkEmperors</string>
		<key>isFavorite</key>
		<false/>
		<key>category</key>
		<string>Interestelar</string>
		<key>users</key>
		<array>
			<dict>
				<key>name</key>
				<string>Darth</string>
				<key>lastName</key>
				<string>Vader</string>
				<key>photo</key>
				<string>DarthVader</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Master</string>
				<key>lastName</key>
				<string>Yoda</string>
				<key>photo</key>
				<string>Yoda</string>
			</dict>
			<dict>
				<key>name</key>
				<string>R2</string>
				<key>lastName</key>
				<string>D2</string>
				<key>photo</key>
				<string>R2D2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Panthers</string>
		<key>logo</key>
		<string>panters</string>
		<key>isFavorite</key>
		<false/>
		<key>category</key>
		<string>Baseball</string>
		<key>users</key>
		<array>
			<dict>
				<key>name</key>
				<string>Cameron Jerrell</string>
				<key>lastName</key>
				<string>Newton</string>
				<key>photo</key>
				<string>newton</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Devin</string>
				<key>lastName</key>
				<string>Funchess</string>
				<key>photo</key>
				<string>Funch</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Cleveland Cavaliers</string>
		<key>logo</key>
		<string>Cavs</string>
		<key>isFavorite</key>
		<false/>
		<key>category</key>
		<string>Basketball</string>
		<key>users</key>
		<array>
			<dict>
				<key>name</key>
				<string>LeBron</string>
				<key>lastName</key>
				<string>James</string>
				<key>photo</key>
				<string>James</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Kevin</string>
				<key>lastName</key>
				<string>Love</string>
				<key>photo</key>
				<string>Love</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Kevin</string>
				<key>lastName</key>
				<string>Irving</string>
				<key>photo</key>
				<string>Irving</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JR</string>
				<key>lastName</key>
				<string>Smith</string>
				<key>photo</key>
				<string>Smith</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mo</string>
				<key>lastName</key>
				<string>Williams</string>
				<key>photo</key>
				<string>Williams</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Guardian Angels</string>
		<key>logo</key>
		<string>GuardianAngels</string>
		<key>isFavorite</key>
		<false/>
		<key>category</key>
		<string>Hockey</string>
		<key>users</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>Barcelona</string>
		<key>logo</key>
		<string>barcelona</string>
		<key>isFavorite</key>
		<false/>
		<key>category</key>
		<string>Soccer</string>
		<key>users</key>
		<array>
			<dict>
				<key>name</key>
				<string>Lionel</string>
				<key>lastName</key>
				<string>Messi</string>
				<key>photo</key>
				<string>Messi</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Neymar</string>
				<key>lastName</key>
				<string>da Silva Santos Junior</string>
				<key>photo</key>
				<string>Neymar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Luis</string>
				<key>lastName</key>
				<string>Suarez</string>
				<key>photo</key>
				<string>Suarez</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
